<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information</title>
  <!-- Include Bootstrap CSS -->
  <%- include('./partials/head') %>
</head>
<body>

  <% if (locals.error) { %>
    <div class="alert alert-warning" role="alert">
      <%= locals.error %>
    </div>
  <% } else { %>
    <%- include('./partials/nav', {user}) %>
    <div>
      User Data: <%= JSON.stringify(user) %>
    </div>
  <% } %>

  <!-- Include Bootstrap JS -->
  <%- include('./partials/script') %>
</body>
</html>
